<div class="basketComposition">
    <div class="popup__close popup__close_center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M18.6464 6.75355C18.8417 6.55829 18.8417 6.24171 18.6464 6.04645L17.9536 5.35355C17.7583 5.15829 17.4417 5.15829 17.2464 5.35355L12 10.6L6.75355 5.35355C6.55829 5.15829 6.24171 5.15829 6.04645 5.35355L5.35355 6.04645C5.15829 6.24171 5.15829 6.55829 5.35355 6.75355L10.6 12L5.35355 17.2464C5.15829 17.4417 5.15829 17.7583 5.35355 17.9536L6.04645 18.6464C6.24171 18.8417 6.55829 18.8417 6.75355 18.6464L12 13.4L17.2464 18.6464C17.4417 18.8417 17.7583 18.8417 17.9536 18.6464L18.6464 17.9536C18.8417 17.7583 18.8417 17.4417 18.6464 17.2464L13.4 12L18.6464 6.75355Z"
                fill="#9E9B98" />
        </svg>
    </div>
    <div class="basketComposition__headerBasket headerBasket">
        <div class="headerBasket__name">Корзина</div>
        <div class="headerBasket__btnClear">Очистить</div>
    </div>
    <div class="basketComposition__deliveryBasket deliveryBasket">
        <button
            class="deliveryBasket__btn deliveryBasket__delivery deliveryBasket__btn_active">Доставка</button>
        <button class="deliveryBasket__btn deliveryBasket__takeaway">На вынос</button>
    </div>


    <div class="basketComposition__basketProducts basketProducts scrollStyle"></div>

    <div class="basketComposition__shippingCost shippingCost">
        <div class="shippingCost__block">
            <img src="/menuImg/dostavka.png" alt="dostavka">
            <div class="shippingCost__name">Доставка</div>
            <div class="productPriceCommonUnit productPriceCommonUnit__green">
                <div data-order="taxiFare" class="shippingCost__figures taxi__fare">400</div>
                <div class="product__icon icon-rubles"></div>
            </div>

        </div>
        <div class="shippingCost__block shippingCost__blockDiscount">
            <div class="shippingCost__name shippingCost__discount">Скидка (15%)</div>
            <div class="productPriceCommonUnit productPriceCommonUnit__red">
                <div data-order="discount" class="shippingCost__figures discount__num">0</div>
                <div class="product__icon icon-rubles"></div>
            </div>
        </div>
    </div>
    <div class="basketComposition__amountToBePaid amountToBePaid">
        <div class="amountToBePaid__totalAmount">
            <div class="amountToBePaid__totalAmountName">Оформляем, к оплате  </div>
            <div class="productPriceCommonUnit">
                <div data-order="shippingCostTotal" class="shippingCost__figures shippingCost__total">0</div>
                <div class="product__icon icon-rubles"></div>
            </div>
        </div>
    </div>
</div>