<div class="popup__deliveryTime deliveryTime">
    <div class="deliveryTime__name">Время доставки</div>
    <div class="deliveryTime__day">
        <div class=" day__btn day__today day_active">Сегодня</div>
        <div class=" day__btn day__tomorrow">Завтра</div>
    </div>
    <div class="deliveryTime__timing timing scrollStyle">
        <div class="timing__time">
            <div class="timing__num">123</div>
            <div class="timing__iconSvg">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                    <path d="M7 12s2.5 5 3.5 5 6-10 6-10" stroke="#1F2021" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>

    <div class="deliveryTime__choose">Выбрать</div>
</div>