<div class="popup__clear clear">
    <div class="clear__name">Очистить корзину?</div>
    <div class="clear__action">
        <button class="clear__btn clear__cancellation">Передумал</button>
        <button class="clear__btn clear__clear">Очистить</button>
    </div>
</div>