<div class="popup__stopList clear">
    <div class="clear__name" style="font-size: 14px">В корзине есть не доступные для заказа блюда <br> Они будут удалены из заказа</div>
    <div class="clear__action">
        <button class="stop__btn clear__cancellation">К оплате</button>
        <button class="stop__btn clear__clear">В меню</button>
    </div>
</div>