
<div class="formPayment" style='display: none'>
    <style>.tinkoffPayRow{display:block;margin:1%;width:160px;}</style>
    <script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>
    <form name="TinkoffPayForm" onsubmit="pay(this); return false;">
    <input class="tinkoffPayRow" type="hidden" name="terminalkey" value="1521524002127">
    <input class="tinkoffPayRow" type="hidden" name="frame" value="true">
    <input class="tinkoffPayRow" type="hidden" name="language" value="ru">
    <input class="tinkoffPayRow" type="hidden" placeholder="Сумма заказа" name="amount" value=> 
    <input class="tinkoffPayRow" type="hidden" placeholder="Номер заказа" name="order" value=>
    <input class="tinkoffPayRow" type="hidden" placeholder="Описание заказа" name="description">
    <input class="tinkoffPayRow" type="hidden" placeholder="ФИО плательщика" name="name">
    <input class="tinkoffPayRow" type="hidden" placeholder="E-mail" name="email">
    <input class="tinkoffPayRow" type="hidden" placeholder="Контактный телефон" name="phone">
    <input class="payform-tinkoff-row" type="hidden" name="receipt" value="">
    <input class="tinkoffPayRow" type="submit" value="Оплатить">
    </form>

</div>

