<!DOCTYPE html>
<html lang="en">

<%- include('../components/head/head') %>

<body>
    <header hidden class="header">
        <%- include('../components/nav/nav') %>
    </header>
    
    <main class="home">
        <div class="home__titleBlock titleBlock">
            <div class="titleBlock__logo">
                <img class="titleBlock__img" src="/mainImg/Logo.png" alt="logo">
                <div class="titleBlock__slogan">Место для теплых встреч.</div>
                <div class="titleBlock__feature">
                    <hr>
                    <div class="icon-glass"></div>
                    <hr>
                </div>
            </div>
            <svg class="home__top" width="192" height="61" version="1.1" id="Layer_1" x="0px" y="0px"
                viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve">
                <path fill="currentColor"
                    d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z">
                </path>
                <div class=" home__arrow icon-arrowBotom"></div>
            </svg>
        </div>


        <div class="home__aboutMenu aboutMenu_revers">
            <div class="aboutMenu__foto">
                <img src="/mainImg/Вкусняшка 2.JPG" alt="Vkusnyackca" class="aboutMenu__img-600">
                <!-- <img src="/Гарниры/Драники Мюнхен 320 г.JPG" alt="Vkusnyackca" class="aboutMenu__img-600"> -->
            </div>
            <div class="aboutMenu__text">
                <h1><span>История</span> <br> кафе Винтаж</h1>
                <div class="aboutMenu__asterisk icon-glass"></div>
                <div class="aboutMenu__description">
                    Наша история началась
                    1 сентября 2005 года. <br>
                    Кафе Винтаж - небольшое кафе в тихом центре города, это
                    вкусная еда и отличное место для тёплых встреч.
                </div>
                <div class="aboutmenu__link">
                    <a href="/menu">Посмотри наше меню</a>
                </div>
            </div>
        </div>


        <div class="home__recipes  BgFotoTitle">
            <div class="recipes__text BgFotoTitle__text"><span>Вкусные</span> Рецепты</div>
        </div>

        <div class="home__aboutMenu aboutMenu">
            <div class="aboutMenu__foto">
                <img src="/mainImg/Caesarsaladwithshrimp.JPG" alt="Fotka" class="aboutMenu__img">
                <img src="/mainImg/Borschtwithbeef.jpg" alt="Fotka" class="aboutMenu__img">
                <img src="/mainImg/Assortedkebabs.JPG" alt="Fotka" class="aboutMenu__img">
                <img src="/mainImg/fondan.jpg" alt="Fotka" class="aboutMenu__img">
            </div>
            <div class="aboutMenu__text">
                <div class="aboutMenu__title"><span>Наше</span>Меню</div>
                <div class="aboutMenu__asterisk icon-glass"></div>
                <div class="aboutMenu__description">
                    Для тех, кто думает о наслаждении едой, приходите к нам и насыщайте свои желания
                    нашими вкусными блюдами, интернациональной кухни. Мы любим еду,
                    много разной еды, как и вы.
                </div>
                <div class="aboutmenu__link">
                    <a href="/menu">Посмотри наше меню</a>
                </div>
            </div>
        </div>

        <div class="home__nalivki  BgFotoTitle">
            <div class="home_nalivkiText BgFotoTitle__text"><span>Авторские</span>Наливки</div>
        </div>

        <div class="home__aboutMenu aboutMenu_revers">
            <div class="aboutMenu__foto">
                <img src="/mainImg/desert_cofe.jpg" alt="Fotka" class="aboutMenu__img">
                <img src="/mainImg/desert_fondan.jpg" alt="Fotka" class="aboutMenu__img">
            </div>
            <div class="aboutMenu__text">
                <div class="aboutMenu__title"><span>Чай, кофе</span>Потанцуем</div>
                <div class="aboutMenu__asterisk icon-glass"></div>
                <div class="aboutMenu__description">
                    Десерты это маленькие радости жизни, побалуйте себя и ваших близких.
                    Ведь десерт это ложка сладкой любви в этом холодном мире.
                </div>
                <div class="aboutmenu__link">
                    <a href="/menu">Посмотри наше меню</a>
                </div>
            </div>
        </div>
    </main>

    <%- include('../components/footer/footer') %>





    <script src="/script.js"></script>

</body>

</html>