<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body 
        style="display: flex;
        align-items: center;
        justify-content: center;
        height: 100svh;">
    <div class="login" style="display: flex; flex-direction: column; justify-content: space-between; height: 100px;">
        <input type="text" placeholder="Логин">
        <input type="password" placeholder="Пароль">
        <button class="btnLogin">Отправить</button>
        <div style="color: red;" class="error"></div>
    </div>
</body>
<script type="module" src="/login.js"></script>
</html>