<!DOCTYPE html>
<html lang="en">

<%- include('../components/head/head') %>

    <body>
        <header hidden class="header">
            <%- include('../components/nav/nav') %>
                <div class="menu__info info "
                    style="background: url(/banketImg/myasnoy-set-banket.jpg)0 0/cover no-repeat fixed;">
                    <div class="triangle">
                        <div class="info__title">
                            <h2><span>Винтаж</span>Оферта</h2>
                        </div>

                    </div>

                </div>

        </header>

        <main class="menu">
            <div class="separator">
                <div class="separator__bar">
                    <hr>
                    <div class="icon-glass"></div>
                    <hr>
                </div>
            </div>
            <!-- =================================================================================================== -->

            <div style="padding: 0 25px; font-size: 16px; margin: 0 0 25px 0;" class="text-inner">
                <div class="imTARight"><b><span class="fs14lh1-5 cf1"> </span></b></div> &nbsp;<div class="imTARight">
                    <b><span class="fs14lh1-5 cf1">Компания ООО Братья и Ко</span></b></div> &nbsp;<div
                    class="imTARight"><b><span class="fs14lh1-5 cf1">Контакты:+7(343)2512372</span></b></div> &nbsp;<div
                    class="imTARight"><span class="fs14lh1-5"><b><span class="cf1">Почта:</span><span class="cf1">
                            </span></b><span class="cf1"><b>2512372</b><b>@mail.ru</b></span><b></b></span></div> &nbsp;
                <div class="imTARight"><span class="fs14lh1-5"><span class="cf1">ИНН: 6671210293</span><b></b></span>
                </div> &nbsp;<div><b><span class="fs14lh1-5 cf1"> </span></b></div> &nbsp;<div class="imTACenter">
                    <b><span class="fs14lh1-5 cf1">Договор публичной оферты о продаже товаров Интернет-магазина
                            виннтажкафеюрф</span></b></div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5 cf1">
                    </span></div> &nbsp;<div class="imTACenter"><b><span class="fs14lh1-5 cf1">1.Общие
                            положения</span></b></div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5"><span
                            class="cf1">1.1. ООО «Братья и Ко», далее «Продавец», публикует Публичную оферту о продаже
                            товаров по образцам, представленным на официальном интернет-сайте Продавца </span><u><span
                                class="cf1">http://винтажкафе.рф/</span></u></span></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">1.2. В соответствии со статьей 437 Гражданского
                        Кодекса Российской Федерации (ГК РФ) данный документ является публичной офертой, и в случае
                        принятия изложенных ниже условий физическое лицо, производящее акцепт этой оферты, осуществляет
                        оплату Товара Продавца в соответствии с условиями настоящего Договора. В соответствии с пунктом
                        3 статьи 438 ГК РФ, оплата Товара Покупателем является акцептом оферты, что считается
                        равносильным заключению Договора на условиях, изложенных в оферте.</span></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">1.3. На основании вышеизложенного внимательно
                        ознакомьтесь с текстом публичной оферты, и, если вы не согласны с каким-либо пунктом оферты, Вам
                        предлагается отказаться от покупки Товаров или использования Услуг, предоставляемых
                        Продавцом.</span></div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5"><span
                            class="cf1">1.4. В настоящей оферте, если контекст не требует иного, нижеприведенные термины
                            имеют следующие значения: • «Оферта» – публичное предложение Продавца, адресованное любому
                            физическому лицу (гражданину), заключить с ним договор купли-продажи (далее – «Договор») на
                            существующих условиях, содержащихся в Договоре, включая все его приложения. • «Покупатель» –
                            физическое лицо, заключившее с Продавцом Договор на условиях, содержащихся в Договоре. •
                            «Акцепт» – полное и безоговорочное принятие Покупателем условий Договора. • «Товар» –
                            перечень наименований ассортимента, представленный на официальном интернет-сайте. • «Заказ»
                            – отдельные позиции из ассортиментного перечня Товара, указанные Покупателем при оформлении
                            заявки на интернет-сайте или через Оператора.</span><span class="cf1"> &nbsp;</span><span
                            class="cf1">• «Доставка» –</span><span class="cf1"> &nbsp;</span><span
                            class="cf1">курьерские услуги по доставке Заказа.</span></span></div> &nbsp;<div
                    class="imTACenter"><b><span class="fs14lh1-5 cf1">2. Предмет договора</span></b></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5"><span class="cf1">2.1. Продавец продает Товар в
                            соответствии с действующим прейскурантом, опубликованным на интернет-сайте
                            Продавца</span><span class="cf1"> &nbsp;</span><span class="cf1">«http://www. /», а
                            Покупатель производит оплату и принимает Товар в соответствии с условиями настоящего
                            Договора.</span></span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">2.2. Настоящий Договор и приложения к нему являются официальными
                        документами Продавца и неотъемлемой частью оферты. </span></div> &nbsp;<div class="imTACenter">
                    <span class="fs14lh1-5 cf1"> </span></div> &nbsp;<div class="imTACenter"><b><span
                            class="fs14lh1-5 cf1">3. Оформление Заказа</span></b></div> &nbsp;<div class="imTAJustify">
                    <span class="fs14lh1-5"><span class="cf1">3.1. Заказ Товара осуществляется Покупателем
                            через</span><span class="cf1"> &nbsp;</span><span class="cf1">Интернет-сайт
                            http://винтажкафе.рф/.</span></span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">3.2. При регистрации на интернет-сайте Продавца Покупатель обязуется
                        предоставить следующую регистрационную информацию о себе:: • фамилия, имя, • фактический адрес
                        доставки; • адрес электронной почты; • контактный телефон (мобильный, стационарный).</span>
                </div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5"><span class="cf1">3.3. При оформлении
                            Заказа через Оператора Покупатель обязуется предоставить информацию, указанную в п. 3.2.
                            настоящего Договора. Принятие Покупателем условий настоящего Договора осуществляется
                            посредством внесения Покупателем соответствующих данных в регистрационную форму на
                            Интернет-сайте или при оформлении Заказа через Оператора. Покупатель имеет право
                            редактировать регистрационную информацию о себе. Оператор не изменяет и не редактирует
                            регистрационную информацию о Покупателе без согласия последнего. Продавец обязуется не
                            сообщать данные Покупателя, указанные при регистрации на сайте </span><u><span class="cf1">
                            </span><span class="cf1">http://винтажкафе.рф/</span></u><span class="cf1"> . и при
                            оформлении Заказа, лицам, не имеющим отношения к исполнению Заказа. Утвердив Заказ
                            выбранного Товара, Покупатель предоставляет Оператору необходимую информацию в соответствии
                            с порядком, указанном в п. 3.2. настоящего Договора.</span></span></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">3.4. Продавец и Оператор не несут ответственности за
                        содержание и достоверность информации, предоставленной Покупателем при оформлении Заказа.</span>
                </div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5 cf1">3.5. Покупатель несёт ответственность
                        за достоверность предоставленной информации при оформлении Заказа. </span></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">3.6. Оплата Покупателем самостоятельно оформленного
                        на интернет-сайте Заказа означает согласие Покупателя с условиями настоящего Договора. День
                        оплаты Заказа является датой заключения Договора купли-продажи между Продавцом и
                        Покупателем.</span></div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5"><span
                            class="cf1">3.7. Все информационные материалы, представленные на сайте </span><u><span
                                class="cf1">http:// винтажкафе.рф /</span></u><span class="cf1">, носят справочный
                            характер и не могут в полной мере передавать достоверную информацию об определенных
                            свойствах и характеристиках Товара. В случае возникновения у Покупателя вопросов, касающихся
                            свойств и характеристик Товара, перед оформлением Заказа ему необходимо обратиться за
                            консультацией к Оператору.</span></span></div> &nbsp;<div class="imTACenter"><b><span
                            class="fs14lh1-5 cf1"> </span></b></div> &nbsp;<div class="imTACenter"><b><span
                            class="fs14lh1-5 cf1">4. Сроки исполнения Заказа</span></b></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">4.1. Срок исполнения Заказа зависит от наличия
                        заказанных позиций Товара на складе Продавца и времени, необходимого на обработку Заказа. Срок
                        исполнения Заказа в исключительных случаях может быть оговорен с Покупателем индивидуально в
                        зависимости от характеристик и количества заказанного Товара. В случае отсутствия части Заказа
                        на складе Продавца, в том числе по причинам, не зависящим от последнего, Продавец вправе
                        аннулировать указанный Товар из Заказа Покупателя. Продавец обязуется уведомить Покупателя об
                        изменении комплектности его Заказа через Оператора.</span></div> &nbsp;<div class="imTAJustify">
                    <span class="fs14lh1-5 cf1">4.2. Заказ считается доставленным в момент его передачи Покупателю.
                        Подписываясь в листе курьера, Покупатель подтверждает исполнение Заказа.</span></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5"><span class="cf1">4.3. В случае предоставления
                            Покупателем недостоверной информации</span><span class="cf1"> &nbsp;</span><span
                            class="cf1">его контактных данных Продавец за ненадлежащее исполнение Заказа ответственности
                            не несет.</span></span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">4.4. В случае ненадлежащего исполнения доставки Заказа по вине Продавца
                        повторная доставка Заказа осуществляется бесплатно.</span></div> &nbsp;<div class="imTACenter">
                    <b><span class="fs14lh1-5 cf1"> </span></b></div> &nbsp;<div class="imTACenter"><b><span
                            class="fs14lh1-5 cf1">5. Оплата Заказа</span></b></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">5.1. Оплата исполненного Заказа осуществляется путем передачи Покупателем
                        денежных средств сотруднику Доставки. Подтверждением оплаты исполненного Заказа является
                        товарный чек. Приём денежных средств </span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5"><span class="cf1">5.2. Цены на любые позиции Товара, указанные на
                            интернет-сайте «</span><u><span class="cf1">http://винтажкафе.рф /</span></u><span
                            class="cf1">», могут быть изменены Продавцом в одностороннем порядке без уведомления
                            Покупателя. В случае изменения цены на заказанные позиции Товара, Оператор обязуется в
                            кратчайшие сроки проинформировать Покупателя о таком изменении. Покупатель вправе
                            подтвердить либо аннулировать Заказ. В случае отсутствия связи с Покупателем Заказ считается
                            аннулированным в течение 14 календарных дней с момента оформления.</span></span></div>
                &nbsp;<div class="imTAJustify"><span class="fs14lh1-5"><span class="cf1">5.4. На все заказы с доставкой
                            по России, условия указаны на сайте компании ООО «Братья и Ко» </span><u><span
                                class="cf1">http:// винтажкафе.рф/</span></u><span class="cf1">. в разделе «Оплата и
                            доставка». Они должны быть обязательно</span><span class="cf1"> &nbsp;</span><span
                            class="cf1">оговорены с Оператором.</span></span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">5.5.Денежные средства принимаются двумя способами: наличными, безналичным
                        платежом </span></div> &nbsp;<div class="imTACenter"><span class="fs14lh1-5 cf1"> </span></div>
                &nbsp;<div class="imTACenter"><b><span class="fs14lh1-5 cf1">6. Доставка товара.</span></b></div> &nbsp;
                <div class="imTAJustify"><span class="fs14lh1-5"><span class="cf1">6.1 Обязанность Продавца по поставке
                            Товара с условием о его доставке считается выполненной с момента подписания Покупателем
                            товаросопроводительных документов</span><b></b></span></div> &nbsp;<div><span
                        class="fs14lh1-5"><span class="cf1">6.2. Право собственности на Товар и риски случайного
                            повреждения и/или гибели Товара переходят на Покупателя с момента фактической передачи
                            Товара и подписания им товаросопроводительных документов</span><span class="cf1">
                            &nbsp;</span><span class="cf1">при доставке Товара Покупателю.</span></span></div> &nbsp;
                <div><span class="fs14lh1-5"><span class="cf1">6.3 Стоимость доставки и условия указаны на сайте
                            компании «</span><u><span class="cf1">http://www.</span></u><u><span class="cf1">
                                винтажкафе.рф</span></u><u><span class="cf1"> /</span></u><span
                            class="cf1">».</span></span></div> &nbsp;<div class="imTACenter"><b><span
                            class="fs14lh1-5 cf1">7. Возврат Заказа</span></b></div> &nbsp;<div class="imTAJustify">
                    <span class="fs14lh1-5 cf1">7.1. В соответствии с п. 4. ст. 26.1. Закона РФ № 2300-I «О Защите прав
                        потребителей» Покупатель вправе отказаться от заказанного Товара в любое время до момента
                        исполнения Заказа.</span></div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5 cf1">7.2.
                        Покупатель не вправе отказаться от оплаченного Заказа (или его части) надлежащего качества,
                        имеющего индивидуально определённые свойства.</span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">7.3. В соответствии с п. 2 «Перечня непродовольственных товаров
                        надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера,
                        формы, габарита, фасона, расцветки или комплектации», утвержденного Постановлением Правительства
                        РФ от 19.01.1998 г. № 55.</span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">7.4. В случае доставки Продавцом Заказа ненадлежащего качества Покупатель
                        обязуется предоставить Товар в офис Продавца в максимально короткие сроки для осуществления
                        проверки качества Товара.</span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">7.5. В соответствии со ст. 22 Закона РФ № 2300-I «О Защите прав
                        потребителей» уплаченная Покупателем сумма за Товар ненадлежащего качества подлежит возврату
                        Покупателю в течение 10 календарных дней с момента предъявления соответствующего требования.
                        Возврат денежных средств осуществляется наличными в офисе Продавца, в случае осуществления
                        платной доставки, деньги за неё не возвращаются. В случае, если Товар был оплачен через систему
                        электронных платежей, то возврат денежных средств осуществляется на электронный счет Покупателя
                        в течение 5-ти рабочих дней.</span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5"><span class="cf1">7.6 Товары надлежащего качества,</span><span class="cf1">
                            &nbsp;</span><span class="cf1">не подлежащие возврату в соответствии с Постановлением
                            Правительства РФ от 20.10.1998 N 1222, от 06.02.2002 N 81:</span></span></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">Изделия и материалы, контактирующие с пищевыми
                        продуктами, из полимерных материалов, в том числе для разового использования (посуда и
                        принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и
                        транспортирования пищевых продуктов)</span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">Непериодические издания (книги, брошюры, альбомы, картографические и
                        нотные издания, листовые изо-издания, календари, буклеты, издания, воспроизведенные на
                        технических носителях информации) (п. 14 введен Постановлением Правительства РФ от 06.02.2002 N
                        81)</span></div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5 cf1">Изделия из
                        драгоценных металлов, с драгоценными камнями, из драгоценных металлов со вставками из
                        полудрагоценных и синтетических камней, ограненные драгоценные камни.</span></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">7.7. Возврат Товара производиться на основании
                        письменного обращения Покупателя, предоставляемого в офис продаж Продавца. </span></div> &nbsp;
                <div class="imTAJustify"><span class="fs14lh1-5 cf1">7.8. Возврат Товара надлежащего качества
                        осуществляется за счет Покупателя и организуется им самостоятельно.</span></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">7.9. Возврат Товара производится по рабочим дням с
                        10-00 до 17-00 в офисе продаж Продавца.</span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">7.10. При возврате Покупателем Товара надлежащего качества составляются
                        накладная или акт о возврате товара, в котором указываются:</span></div> &nbsp;<div
                    class="imTAJustify"><!--[if !supportLists]--><span class="fs14lh1-5"><span class="cf1">·</span><span
                            class="cf1">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--[endif]--><span
                            class="cf1">полное фирменное наименование Продавца; </span></span></div> &nbsp;<div
                    class="imTAJustify"><!--[if !supportLists]--><span class="fs14lh1-5"><span class="cf1">·</span><span
                            class="cf1">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--[endif]--><span
                            class="cf1">фамилия, имя, отчество и паспортные данные Покупателя; </span></span></div>
                &nbsp;<div class="imTAJustify"><!--[if !supportLists]--><span class="fs14lh1-5"><span
                            class="cf1">·</span><span class="cf1">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--[endif]--><span
                            class="cf1">наименование Товара; </span></span></div> &nbsp;<div class="imTAJustify">
                    <!--[if !supportLists]--><span class="fs14lh1-5"><span class="cf1">·</span><span class="cf1">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--[endif]--><span
                            class="cf1">причина возврата Товара; </span></span></div> &nbsp;<div class="imTAJustify">
                    <!--[if !supportLists]--><span class="fs14lh1-5"><span class="cf1">·</span><span class="cf1">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--[endif]--><span
                            class="cf1">дата передачи Товара; </span></span></div> &nbsp;<div class="imTAJustify">
                    <!--[if !supportLists]--><span class="fs14lh1-5"><span class="cf1">·</span><span class="cf1">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--[endif]--><span
                            class="cf1">сумма, подлежащая возврату; </span></span></div> &nbsp;<div class="imTAJustify">
                    <!--[if !supportLists]--><span class="fs14lh1-5"><span class="cf1">·</span><span class="cf1">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--[endif]--><span
                            class="cf1">подписи Продавца и Покупателя. </span></span></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">7.11. Возврат &nbsp;стоимости &nbsp;Товара
                        производится не позднее чем через 10 (десять) дней с даты предоставления Покупателем
                        соответствующего требования. </span></div> &nbsp;<div><span class="fs14lh1-5"><span
                            class="cf1">7.12. Для возврата денежных средств на банковскую карту Заказчику необходимо
                            заполнить «Заявление о возврате денежных средств», которое высылается по требованию
                            Компанией на электронный адрес Заказчика, и оправить его вместе с приложением копии паспорта
                            по адресу: г.Екатеринбург ул. Фрунзе 65. Возврат денежных средств будет осуществлен на
                            банковский счет Заказчика, указанный в заявлении, в течение 10 (Десяти) рабочих дней со дня
                            получения «Заявление о возврате денежных средств» Компанией. </span><br><span class="cf1">
                        </span><br><span class="cf1"> Для возврата денежных средств, зачисленных на расчетный счет
                            Компании ошибочно посредством платежных систем, Заказчик должен обратиться с письменным
                            заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное
                            зачисление. Данное заявление необходимо направить по адресу: : г.Екатеринбург ул. Фрунзе 65.
                            После получения письменного заявления с приложением копии паспорта и чеков/квитанций
                            Компания производит возврат в срок до 10 (десяти) рабочих дней со дня получения 3аявления на
                            расчетный счет Заказчика, указанный в заявлении. В этом случае, сумма возврата будет
                            равняться стоимости Заказа.</span><br><span class="cf1"> </span><br><span class="cf1"> Срок
                            рассмотрения Заявления и возврата денежных средств Заказчику начинает исчисляться с момента
                            получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных
                            дней. Если заявление поступило Компании после 18.00 рабочего дня или в праздничный/выходной
                            день, моментом получения Компанией Заявления считается следующий рабочий
                            день.</span><br><span class="cf1"> </span><br><span class="cf1"> Требование о возврате
                            товара Покупатель должен предоставить Продавцу либо в письменном виде по адресу
                            г.Екатеринбург, ул.Фрунзе, д.65, либо в электронном на адрес электронной почты
                            2512372@</span><span class="cf1">mail</span><span class="cf1">.</span><span
                            class="cf1">ru</span><span class="cf1">. Требование может быть составлено в свободной форме
                            с обязательным указанием контактных данных Покупателя, совпадающих с указанными при заказе
                            Товара, наименования возвращаемого Товара и причин возврата. Покупатель вправе задать все
                            возникшие вопросы Продавцу по телефону 8(982)6693010.</span></span></div> &nbsp;<div
                    class="imTACenter"><b><span class="fs14lh1-5 cf1"> </span></b></div> &nbsp;<div class="imTACenter">
                    <b><span class="fs14lh1-5 cf1">8. Авторские права</span></b></div> &nbsp;<div class="imTACenter">
                    <b><span class="fs14lh1-5 cf1"> </span></b></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1">8.1. Вся текстовая информация и графические изображения, размещенные на
                        интернет-сайте http://www.винтажкафе.рф/, являются собственностью Продавца и/или его поставщиков
                        и производителей Товара.</span></div> &nbsp;<div class="imTAJustify"><span
                        class="fs14lh1-5 cf1"> </span></div> &nbsp;<div class="imTACenter"><b><span
                            class="fs14lh1-5 cf1">9. Права, обязанности и ответственность</span></b></div> &nbsp;<div
                    class="imTAJustify"><span class="fs14lh1-5 cf1">9.1. Продавец не несет ответственности за
                        ненадлежащее использование товаров Покупателем, заказанных на интернет-сайте или через
                        Оператора.</span></div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5 cf1">9.2. Продавец
                        вправе передавать свои права и обязанности по исполнению Заказов третьим лицам.</span></div>
                &nbsp;<div class="imTAJustify"><span class="fs14lh1-5 cf1">9.3. Продавец имеет право на осуществление
                        записи телефонных переговоров с Покупателем. В соответствии с п. 4 ст. 16 Федерального закона
                        «Об информации, информационных технологиях и о защите информации» Продавец обязуется:
                        предотвращать попытки несанкционированного доступа к информации и/или передачу ее лицам, не
                        имеющим непосредственного отношения к исполнению Заказов; своевременно обнаруживать и пресекать
                        такие факты. Телефонные разговоры записываются в целях осуществления контроля деятельности
                        Оператора и контроля качества исполнения Заказов.</span></div> &nbsp;<div class="imTAJustify">
                    <span class="fs14lh1-5 cf1">9.4. Право собственности на Заказ, а также риск его случайной гибели или
                        повреждения переходят к Покупателю с момента передачи денежных средств сотруднику
                        Доставки.</span></div> &nbsp;<div class="imTAJustify"><span class="fs14lh1-5 cf1">9.5. Все
                        претензии по ненадлежащему исполнению заказа Покупатель вправе направить на адрес электронной
                        почты, указанный на интернет-сайте http://www.винтажкафе.рф/, в разделе контакты. Вся
                        поступившая информация обрабатывается в кратчайшие сроки.</span></div> &nbsp;<div><span
                        class="fs14lh1-5"> </span></div>
            </div>


            <!-- ========================================================================================================= -->


        </main>
        <%- include('../components/footer/footer') %>
            <script src="/scriptBar.js"></script>
            <script src="/script.js"></script>
    </body>

</html>