<!DOCTYPE html>
<html lang="en">

<%- include('../components/head/head') %>

<body>
    <header hidden class="header">
        <%- include('../components/nav/nav') %>
        <div class="menu__info info " 
            style="background: url(/banketImg/myasnoy-set-banket.jpg)0 0/cover no-repeat fixed;">
            <div class="triangle">
                <div class="info__title">
                    <h2><span>Винтаж</span>Акции</h2>
                </div>

            </div>
        </div>
    </header>
    
    <main class="home">

        <div class="home__aboutMenu aboutMenu_revers">
            <div class="aboutMenu__foto">
                <img src="/banketImg/banket.jpg" alt="Vkusnyackca" class="aboutMenu__img-600">
            </div>
            <div class="aboutMenu__text">
                <h1><div class="aboutMenu__title"><span>10%</span>скидка именинникам</div></h1>
                <div class="aboutMenu__asterisk icon-glass"></div>
                <div class="aboutmenu__link">
                    <a href="/menu">Посмотри наше меню</a>
                </div>
            </div>
        </div>

        <div class="home__aboutMenu aboutMenu"
        style="background-color: rgba(187, 179, 179, 0.178);">
            <div class="aboutMenu__foto">
                <img src="/mainImg/Caesarsaladwithshrimp.JPG" alt="Fotka" class="aboutMenu__img">
                <img src="/Холодные закуски/Рулетик с лососем 140гр.JPG" alt="Fotka" class="aboutMenu__img">
                <img src="/mainImg/Assortedkebabs.JPG" alt="Fotka" class="aboutMenu__img">
                <img src="/mainImg/fondan.jpg" alt="Fotka" class="aboutMenu__img">
            </div>
            <div class="aboutMenu__text">
                <div class="aboutMenu__title"><span>15%</span>скидка на вынос</div>
                <div class="aboutMenu__asterisk icon-glass"></div>
                <div class="aboutmenu__link">
                    <a href="/menu">Посмотри наше меню</a>
                </div>
            </div>
        </div>


        <!-- <div class="home__aboutMenu aboutMenu_revers">
            <div class="aboutMenu__foto">
                <img src="/mainImg/desert_cofe.jpg" alt="Fotka" class="aboutMenu__img">
                <img src="/mainImg/desert_fondan.jpg" alt="Fotka" class="aboutMenu__img">
            </div>
            <div class="aboutMenu__text">
                <div class="aboutMenu__title"><span>Торт</span>можно принести свой</div>
                <div class="aboutMenu__asterisk icon-glass"></div>
                <div class="aboutmenu__link">
                    <a href="/menu">Посмотри наше меню</a>
                </div>
            </div>
        </div>

        <div class="home__aboutMenu aboutMenu"
        style="background-color: rgba(187, 179, 179, 0.178);">
            <div class="aboutMenu__foto">
                <img src="/banketImg/chek.jpg" alt="Fotka" class="aboutMenu__img-600">
            </div>
            <div class="aboutMenu__text">
                <div class="aboutMenu__title"><span>2800р</span>Средний счет на 1 человека</div>
                <div class="aboutMenu__asterisk icon-glass"></div>
                <div class="aboutmenu__link">
                    <a href="/menu">Посмотри наше меню</a>
                </div>
            </div>
        </div> -->
    </main>

    <%- include('../components/footer/footer') %>





    <script src="/script.js"></script>
    <script type="module" src="/info/info.js"></script>

</body>

</html>