
    <nav>
        <div id="menu_controller" class="header__menu menu">
            <div id="lines" class="menu__burger">
                <hr class="menu__line menu__line_1">
                <hr class="menu__line menu__line_2">
                <hr class="menu__line menu__line_3">
            </div>
        </div>
        <div class="header__menuList menuList">
            <div class="menuList__list">
                <ul class="menuList__listAtem">
                    <li class="menuList__item"><a class="menuList__link" href="/">Главная</a></li>
                    <li class="menuList__item"><a class="menuList__link" href="/menu">Меню</a></li>
                    <li class="menuList__item"><a class="menuList__link" href="/bar">Бар</a></li>
                    <li class="menuList__item"><a class="menuList__link" href="/banket">Банкет</a></li>
                    <li class="menuList__item"><a class="menuList__link" href="/businessLunch">Бизнес ланч</a></li>
                    <li class="menuList__item"><a class="menuList__link" href="/stocks">Акции</a></li>
                    <li class="menuList__item"><a class="menuList__link" href="/memorialDinner">Поминальный обед</a></li>
                    <li class="menuList__item"><a class="menuList__link" href="/offer">Оферта</a></li>
                    <li class="menuList__item"><a class="menuList__link" href="/contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </nav>